dist: bionic

sudo: required

language: go

env:
  global:
    - GOARCH=amd64
    - DB_HOST=127.0.0.1
  matrix:
    - TEST_CMD="make test"
    - TEST_CMD="make benchmark"

notifications:
  email: false

go:
  - "1.13"
  - "1.14"

services:
  - docker

addons:
  apt:
    packages:
    - freetds-bin

before_install:
  - sudo service mysql stop
  - sudo service postgresql stop
  - sudo apt-get install -y parallel
  - sleep 30

install:
  - go get -t -v -d ./...
  - go get -v modernc.org/ql/ql

script:
  - travis_wait 45 bash -c "$TEST_CMD"
