ansible==11.3.0
ansible-core==2.18.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
dnspython==2.7.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
psycopg2-binary==2.9.10
pycparser==2.22
pymongo==4.11.3
pymssql==2.3.2
PyMySQL==1.1.1
PyYAML==6.0.2
requests==2.32.3
resolvelib==1.0.1
urllib3==2.3.0
